body, html {
    height: 200vh;
}

body{
    margin: 0;
}

.MainDiv{
    background-color: red;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   */

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    border: black;
    border-width: 3px;
    border-style: solid;
}

div > div{
    background-color: blue;
    font-size: large;
    margin: 10px;
    height: 90px;
    
    padding: 10px;
    /* float: left; */
}

#HomeButton{
border-width: 5px;
border-style: solid;
}

img{
  float: right;
  width: 100px;

}
.fdsa{
float: left;
}