body, html {
    height: 200vh;
}

body{
    margin: 0;
}

.MainDiv{
    background-color: #313C74;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    border: black;
    border-width: 3px;
    border-style: solid;
}

div > div{
    background-color: #182257;
    font-size: xx-large;
    color: white;
    margin: 10px;
    /* height: 70px; */
    padding: 10px;
}

#HomeButton{
border-width: 3px;
border-style: solid;
padding-top: 30px;
padding-bottom: 30px;

}

img{
  float: right;
  width: 100px;
  vertical-align: baseline;

}
